# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nalam-app/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
nalam-app/coverage

# next.js
nalam-app/.next/
nalam-app/out/

# production
nalam-app/build
nalam-app/dist/
nalam-app/dist.zip
nalam-app/.hostinger-build-*/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
nalam-app/.env*
!nalam-app/.env*.example

# vercel
nalam-app/.vercel

# typescript
*.tsbuildinfo
nalam-app/next-env.d.ts
